z-menu,
.z-menu,
z-menu *,
.z-menu * {
  display: block;
  font-size: 1em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

z-menu,
.z-menu {
  margin: 0;
  font-weight: normal;
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 1px 2px 0 rgba(0, 0, 0, 0.05);
  width: 168px;
}

z-menu z-menu-section,
.z-menu .z-menu-section {
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}

z-menu z-menu-title,
.z-menu .z-menu-title,
z-menu z-menu-item,
.z-menu .z-menu-item {
  padding: 0 20px;
  line-height: 2em;
}

z-menu z-menu-title,
.z-menu .z-menu-title,
z-menu z-menu-item.active,
.z-menu .z-menu-item.active,
z-menu z-menu-item a.active,
.z-menu .z-menu-item a.active {
  color: #3A2F38;
  font-weight: 500;
}

z-menu z-menu-title,
.z-menu .z-menu-title {
  font-size: 1.18em;
}

z-menu z-menu-item,
.z-menu .z-menu-item {
  color: #777;
}

z-menu z-menu-item:hover,
.z-menu .z-menu-item:hover {
  cursor: pointer;
  color: #3A2F38;
}

z-menu z-menu-item a,
.z-menu .z-menu-item a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
