/**
 * Adapted from: Semantic UI:
 *   https://github.com/Semantic-Org/Semantic-UI
 *   http://www.semantic-ui.com/
 */
z-button,
.z-button,
z-button * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

z-button,
.z-button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background: transparent;
  background-image: none;
  font-weight: 400;
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15) inset;
  margin: 0em 0.25em 0em 0em;
  padding: 0 12px;
  height: 34px;
  line-height: 34px;
  text-transform: none;
  text-shadow: none;
  font-style: normal;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  background-image: none;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

z-button:hover,
.z-button:hover {
  background: #fafafa;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15) inset, 0px 0px 0px 0px rgba(39, 41, 43, 0.15) inset;
}

z-button:focus,
.z-button:focus {
  outline: none;
}

/*******************************
     Fluid
*******************************/
z-button[data-style='fluid'],
.z-button[data-style='fluid']{
  display: block;
  width: 100%
}

/*******************************
     Disabled
*******************************/
z-button[data-state='disabled'],
.z-button[data-state='disabled'] {
  cursor: default;
  background-color: #dcddde;
  color: rgba(0, 0, 0, 0.4);
  opacity: 0.3 ;
  background-image: none;
  box-shadow: none;
  pointer-events: none;
}

/*******************************
     Active
*******************************/
z-button[data-state='active'],
.z-button[data-state='active'] {
  background: #fafafa;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15) inset, 0px 0px 0px 0px rgba(39, 41, 43, 0.15) inset;
}


/*******************************
     Loading
*******************************/
z-button[data-state='loading'],
.z-button[data-state='loading'] {
  position: relative;
  cursor: default;
  text-shadow: none;
  color: transparent!important;
  opacity: 1;
  pointer-events: none;
  -webkit-transition: all 0s linear,opacity .1s ease;
  transition: all 0s linear,opacity .1s ease;
}

z-button[data-state='loading']:before,
.z-button[data-state='loading']:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: -.64285714em 0 0 -.64285714em;
  width: 1.28571429em;
  height: 1.28571429em;
  border-radius: 500rem;
  border: .2em solid rgba(0,0,0,.15);
}

z-button[data-state='loading']:after,
.z-button[data-state='loading']:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: -.64285714em 0 0 -.64285714em;
  width: 1.28571429em;
  height: 1.28571429em;
  -webkit-animation: button-spin .6s linear;
  animation: button-spin .6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: .2em;
  box-shadow: 0 0 0 1px transparent;
}

@keyframes button-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*--------------
     Toggle
---------------*/


/* Toggle (Modifies active state to give affordances) */
z-button[data-toggle][data-state='active'],
.z-button[data-toggle][data-state='active'] {
  background-color: #3b83c0;
  box-shadow: none;
  text-shadow: none;
  color: #ffffff;
}
z-button[data-toggle][data-state='active']:hover,
.z-button[data-toggle][data-state='active']:hover {
  background-color:  #458ac6;
  text-shadow: none;
  color: #ffffff;
}

/*******************************
     Button Groups
*******************************/
z-button-group {
  display: inline-block;
  vertical-align: middle;
  margin: 0em 0.25em 0em 0em;
  border: 1px solid rgba(39, 41, 43, 0.15);
  border-radius: 0.2857rem;
}

z-button-group z-button:first-child {
  border-left: none;
  margin-left: 0em;
  border-top-left-radius: 0.2857rem;
  border-bottom-left-radius: 0.2857rem;
}

z-button-group z-button:last-child {
  border-top-right-radius: 0.2857rem;
  border-bottom-right-radius: 0.2857rem;

}

z-button-group z-button {
  margin: 0em;
  float: left;
  border-radius: 0em;
  margin: 0px 0px 0px 0px;
  box-shadow: none;
  border-left: 1px solid rgba(39, 41, 43, 0.15);
}

z-button-group[data-split-evenly] {
  width: 100%;
}

/*-------------------
        Sizes
--------------------*/

.z-button-group .z-button[data-size='mini'],
.z-button[data-size='mini'],
z-button-group z-button[data-size='mini'],
z-button[data-size='mini'] {
  font-size: 0.71428571rem;
}

.z-button-group .z-button[data-size='tiny'],
.z-button[data-size='tiny'],
z-button-group z-button[data-size='tiny'],
z-button[data-size='tiny'] {
  font-size: 0.85714286rem;
}

.z-button-group .z-button[data-size='small'],
.z-button[data-size='small'],
z-button-group z-button[data-size='small'],
z-button[data-size='small'] {
  font-size:  0.92857143rem;
}

.z-button-group .z-button,
.z-button,
z-button-group z-button,
z-button {
  font-size: 1rem;
}

.z-button-group .z-button[data-size='large'],
.z-button[data-size='large'],
z-button-group z-button[data-size='large'],
z-button[data-size='large'] {
  font-size: 1.14285714rem;
}
.z-button-group .z-button[data-size='big'],
.z-button[data-size='big'],
z-button-group z-button[data-size='big'],
z-button[data-size='big']  {
  font-size: 1.28571429rem;
}

.z-button.primary {
  font-size: 12px;
  font-weight: 400;
  color:#fff;
  background: #8E23AA;
  -webkit-box-shadow: 0px 2px 5px 2px #DEE2DD;
  -moz-box-shadow: 0px 2px 5px 2px #DEE2DD;
  box-shadow: 0px 2px 5px 2px #DEE2DD;
}

.z-button.primary:hover {
  background: #9C27B0;
}

.z-button.primary:active {
  background: #0d4f6f;
  color: #fff;
}

.z-button.secondary {
  font-size: 12px;
  font-weight: 400;
  background: #735389;
  color: rgba(255, 255, 255, .9);
}

.z-button.secondary:hover {
  background: #f2f8fa;
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15) inset, 0px 0px 0px 0px rgba(39, 41, 43, 0.15) inset;
}

.z-button.secondary:active {
  background: #cee1e8;
  color: #333;
}

.z-button.tertiary {
  font-size: 12px;
  font-weight: 500;
  background: #D3CBD9;
  color: #735389;
  box-shadow: none;
  line-height: 34px;
}

.z-button.tertiary:hover {
  background: #CE93D8;
  border: none;
}

.z-button.filter-button {
  border-radius: 50px;
}

.z-button.filter-button:hover {
  cursor: initial;
}

.z-button.filter-button i.icon {
  margin-left: 5px;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  background: #fff;
  opacity: 0.7;
}

.z-button.filter-button i.icon:hover {
  cursor: pointer;
  opacity: 1;
}

.z-button.filter-button i.icon:before,
.z-button.filter-button i.icon:after {
  position: absolute;
  width: 2px;
  background: #fff;
  content: '';
  height: 9px;
  margin: 3px 0 0 -1px;
}

.z-button.filter-button i.icon:before {
  transform: rotate(45deg);
}

.z-button.filter-button i.icon:after {
  transform: rotate(-45deg);
}

.z-button.secondary.filter-button:hover {
  background: #735389;
  border: none;
}

.z-button.secondary.filter-button i.icon {
  background: rgba(255, 255, 255, .95);
}

.z-button.secondary.filter-button i.icon:before,
.z-button.secondary.filter-button i.icon:after {
  background: #735389;
}

.z-button.tertiary.filter-button:hover {
  background: #D3CBD9;
  border: none;
}

.z-button.tertiary.filter-button i.icon {
  background: #735389;
}

.z-button.tertiary.filter-button i.icon:before,
.z-button.tertiary.filter-button i.icon:after {
  background: #D3CBD9;
}
