z-dropdown,
.z-dropdown,
z-dropdown *,
.z-dropdown * {
  box-sizing: border-box;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

z-dropdown,
.z-dropdown {
  display: inline-block;
  position: relative;
}

z-dropdown z-dropdown-title,
.z-dropdown .z-dropdown-title {
  display: block;
  cursor: pointer;
  font-weight: 500;
  padding: 0 8px;
  line-height: 2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

z-dropdown z-dropdown-flyout,
.z-dropdown .z-dropdown-flyout {
  position: absolute;
  min-width: 100%;
  z-index: 99;
  border-radius: 3px;
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 1px 1px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  display: none;
}

z-dropdown.open z-dropdown-flyout,
.z-dropdown.open .z-dropdown-flyout {
  display: block;
}

z-dropdown z-dropdown-flyout ul,
.z-dropdown .z-dropdown-flyout ul {
  list-style-type: none;
}

z-dropdown z-dropdown-flyout ul li,
.z-dropdown .z-dropdown-flyout ul li {
  padding: 0 8px;
  line-height: 2.3em;
  white-space: nowrap;
  cursor: pointer;
  border-top: 1px solid #fafafa;
}

z-dropdown z-dropdown-flyout ul li:first-child,
.z-dropdown .z-dropdown-flyout ul li:first-child {
  border-top: none;
}

z-dropdown z-dropdown-flyout ul li:hover,
.z-dropdown .z-dropdown-flyout ul li:hover {
  cursor: pointer;
  background: #f9f9f9;
}

z-dropdown z-dropdown-flyout ul li.active,
.z-dropdown .z-dropdown-flyout ul li.active {
  font-weight: 500;
}
