z-progressbar,
.z-progressbar {
  position: relative;
  display: block;
  max-width: 100%;
  border: 1px solid #ddd;
  box-shadow: none;
  background: #fafafa;
  padding: 3px;
  border-radius: 3px;
  font-size: 1em;
  box-sizing: border-box;
}

z-progressbar .bar,
.z-progressbar .bar {
  display: block;
  height: 1.6em;
  line-height: 1.6em;
  position: relative;
  width: 0;
  min-width: 2em;
  background: #888;
  border-radius: 3px;
}

z-progressbar .bar::after,
.z-progressbar .bar::after{
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: 3px;
  -webkit-animation: progress-active 2s ease infinite;
  animation: progress-active 2s ease infinite;
}

@-webkit-keyframes progress-active {
  0% {
    opacity: 0.3;
    width: 0;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}

@keyframes progress-active {
  0% {
    opacity: 0.3;
    width: 0;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}

z-progressbar .bar > .progress {
  white-space: nowrap;
  position: absolute;
  width: auto;
  right: .5em;
  left: auto;
  bottom: auto;
  color: #3A2F38;
  font-weight: 500;
  text-align: left;
  line-height: 1em;
  font-size: 0.9em;
  top: 50%;
  -ms-transform: translate(0,-50%);
  -moz-transform:translate(0, -50%);
  -webkit-transform: translate(0,-50%);
   transform: translate(0,-50%);
}

z-progressbar .label {
  position: absolute;
  width: 100%;
  font-size: 1em;
  top: 100%;
  right: auto;
  left: 0;
  bottom: auto;
  color: #3A2F38;
  font-weight: 500;
  text-shadow: none;
  margin-top: .5em;
  text-align: center;
}

