* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-touch-callout: none;
}

body {
  padding:0;
  margin:0;
  color: #313330;
  -webkit-font-smoothing: subpixel-antialiased;
  font: 16px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  line-height: 1.1em;
}

#viewport {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
  font-size: 13px;
}

section {
  padding-bottom: 38px;
}

section h2 {
  color: #3A2F38;
  font-size: 1.18em;
  font-weight: 500;
  line-height: 30px;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}

z-menu {
  background: #fafafa;
  font-size: 13px;
}

z-dropdown ul li {
  min-width: 100px;
}

z-search {
  width: 300px;
}
