z-tabbable,
.z-tabbable,
z-tabbable *,
.z-tabbable * {
  box-sizing: border-box;
  display: block;
  font-size: 1em;
}

z-tabbable z-tabs,
.z-tabbable .z-tabs {
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  border-radius: 0em;
  box-shadow: none;
  background: #fff;
  font-weight: 400;
}

z-tabbable z-tab,
.z-tabbable .z-tab {
  display: inline-block;
  padding: 0 1.4em;
  background-color: transparent;
  border: none;
  line-height: 2.7em;
  text-align: center;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

z-tabbable z-tab:hover,
.z-tabbable .z-tab:hover {
  cursor: pointer;
}

z-tabbable z-tab.active,
.z-tabbable .z-tab.active {
  font-weight: 600;
  border-bottom: 2px solid #3A2F38;
  color: #3A2F38;
}

z-tabbable z-tab a,
.z-tabbable .z-tab a {
  display: block;
  line-height: inherit;
  text-decoration: none;
  font-weight: inherit;
}

z-tabbable z-tab-content,
.z-tabbable .z-tab-content {
  display: none;
  padding: 1.4em;
}

z-tabbable z-tab-content.active,
.z-tabbable .z-tab-content.active {
  display: block;
}
