z-search,
.z-search {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 1px 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  font-size: 1em;
  position: relative;
}

z-search-input,
.z-search-input {
  display: block;
}

z-search input,
.z-search input {
  font-size: inherit;
  outline: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  line-height: 1.2em;
  padding: 0.6em 0.8em;
  width: 100%;
}

z-search z-search-flyout,
.z-search .z-search-flyout {
  position: absolute;
  min-width: 100%;
  z-index: 99;
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 1px 1px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  display: none;
}

z-search.open z-search-flyout,
.z-search.open .z-search-flyout {
  display: block;
}

z-search ul,
.z-search ul {
  list-style: none;
}

z-search ul li,
.z-search ul li {
  padding: 0 8px;
  line-height: 2.3em;
  white-space: nowrap;
  cursor: pointer;
  border-top: 1px solid #fafafa;
}

z-search ul li:first-child,
.z-search ul li:first-child {
  border-top: none;
}

z-search ul li:hover,
.z-search ul li:hover {
  cursor: pointer;
  background: #f9f9f9;
}

z-search ul li.active,
.z-search ul li.active {
  background: #f9f9f9;

}
