<template id='z-weekpicker-base-tpl'>
  <z-weekpicker-field>
    <span class="weekpicker_value"></span><i class='fa fa-caret-down'></i>
  </z-weekpicker-field>

  <z-weekpicker-flyout>
    <div class="weekpicker_selection"></div>
    <button class="z-button primary apply">Apply</button>
  </z-weekpicker-flyout>
</template>

<template id='z-weekpicker-selection-base-tpl'>
  <div>
    <label>Year:</label>
    <input class="z-input year" type="text" />
  </div>

  <div>
    <label>Week No.:</label>
    <input class="z-input week" type="text" />
  </div>
</template>
